<div class="row">
  <div class="col-xs-6">
    <%= line_chart @annual.pluck(:year, :total_offenses), 
      label: "Hate-Crimes Reported", xtitle: "Year", 
      ytitle: "Reported Crime", width: "800px", height: "500px",
      library: {title: 'Hate-Crimes per Year'}
    %>
  </div>
</div>
